{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter Station</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <br/>
    <input type="submit" value="Ajouter" class="btn btn-primary"/>
    <a href="{{ path('station_index') }}" class="btn btn-warning">Annuler</a>
    {{ form_end(form) }}


{% endblock %}
